.grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.portfolio, .contact {
    grid-column: span 2;
}

.aboutMe {
    grid-row: span 2 ;
}

.grid-item {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.grid-item:hover {
    background-color: #333;
}